.body {
  background-color: #f7f7f7;
  min-height: 100vh;
}

.btn-blue {
  @apply p-3 py-2 text-white bg-[#2e2ee5] rounded
}

.btn-black {
  @apply px-3 py-1 text-white bg-[#333333] rounded hover:opacity-75 transition-opacity
}

.textfield {
  @apply shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none
}

.header-icon {
  @apply transition-opacity hover:opacity-50 cursor-pointer
}

.dot-before:before {
  content: " · ";
}

.textfield-add-post {
  padding: 10px 15px; margin-top: 15px; background-color: #f5f5f5; border: 1px solid #f5f5f5; border-radius: 4px; font-size: 17px; line-height: 25px; font-family: Charter,serif; outline: none; -webkit-appearance: none;
}
